body {
  background-color: black;
}
.image{
    border: 5px solid white;
    width: 100%;
}
.h1{
    text-transform: uppercase;
    color: blue;
}
.poster {
  width: 50%;
  margin-left: 25%;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
}

